__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
.DS_Store
*.env
.env.*
telenurse/
bin/
lib/
lib64/
local/
include/
pyvenv.cfg
create_dummy_*.py
view_database.py
json_history_viewer.py 